.contactBtn{
  min-height: 7vh;
  width: 15rem;
  color: rgb(54, 54, 54);
  background-color: #d4a520;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;font-weight: 600;
  font-size: 0.9rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  border-radius: 20px;
}

i{
  font-size: 1.4rem;
}

@media(max-width: 425px){

button{
  min-height: 5vh;
  width: 12rem; 
  font-size: 0.7rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  gap: 0.3rem;
}

i{
  font-size: 1.0rem;
}

}